
.MiddleContainer{
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 75rem;
  max-height: 75vh;
  flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App {
  text-align: center;
  background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: 12;
}
body{
  padding: 0;
    margin: 0;
  width: auto;
  height: auto;
}

.AxlContainer{
  position: relative;
  height: 60vh;
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  
}

.AxlPic {
  height: 100%;
  border-radius: 15%;
  box-shadow: 3px 3px 20px 8px aliceblue;
  
}
.CenterContainer {
  display: flex;
}
.DuneQ-Container{
  height: 10%;
  flex: 0;
  display: flex;
  align-items: center;

}
.DuneQ {
  display: flex;
  position: absolute;
  flex: 3;
  font-family: "Source Code Pro", monospace;
  max-width: 90%;
  font-size: 90%;
  flex: 0 0 50%;
  padding-bottom: 2vmin;
  text-shadow: 2px 2px cornflowerblue;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:white;
  justify-self: center;
  
  
}

.App-header {
  background-color: #282c34;
  flex: 1;
  min-height: 20vh;
  max-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(px + 2vmin);
  margin-right: auto;
  margin-left: auto;
  object-fit: scale-down;
}
.Header-Holders{
  display: flex;
  justify-content: center;
  flex-basis: calc(100% / 4);
  flex-shrink: 0;
  max-height: 25vh;
  width: 23vw;
}
.Header-Holders .sun {
  margin-top: 40%;
}
.Sun-stuff{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.Sun-Text{
  display: flex;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  align-items: center;
  flex-flow: column;
  max-width: 75%;
  font-size: 1.75vw;
  flex: 0 0 50%;
  color: coral;
  border-radius: 50% 50%;
  border: .3px solid cornsilk;
  box-shadow: 
          inset 0px 0px 3em 1px cornsilk,
                0px 0px 3em 1em  cornsilk;
              
  text-shadow: 1px 1px rgb(1, 14, 29);
}
.bored{
  padding-top: 25px;
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 8px #fff,
    0 0 19px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


.lunarContainer .lunarStyle{
  display: flex;
  width: 22vw;
	height: 22vw;
  object-fit: contain;
  justify-content: center;
}
.lunarStyle img {

}

.sun{
  position: absolute;
  
  display: flex;
  content: url(https://i.ibb.co/2tPYzB3/580b585b2edbce24c47b270f.png);
  position: absolute;
  width: 25vw;
  overflow: hidden;
  z-index: 1;

}
.sun:hover
{
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
        animation-direction: alternate;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
      transform:rotate(360deg) scale(1.3);
  }
}


.wrapper {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  width: 24vw;
  font-family: "Source Code Pro", monospace;
  font-size: 200%;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 19px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  animation: pulsate 0.5s ease-in-out infinite alternate; 
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 17px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #0fa,
      0 0 73px #0fa,
      0 0 80px #0fa,
      0 0 94px #0fa,
      0 0 140px #0fa;
  }
}
