.MiddleContainer{
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 75rem;
  max-height: 75vh;
  flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App {
  text-align: center;
  background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: 12;
}
body{
  padding: 0;
    margin: 0;
}

.AxlContainer{
  position: relative;
  height: 60vh;
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  
}

.AxlPic {
  height: 100%;
  border-radius: 15%;
  box-shadow: 3px 3px 20px 8px aliceblue;
  
}
.CenterContainer {
  display: flex;
}
.DuneQ-Container{
  height: 10%;
  flex: 0;
  display: flex;
  align-items: center;

}
.DuneQ {
  display: flex;
  position: absolute;
  flex: 3;
  font-size: 100%;
  flex: 0 0 50%;
  padding-bottom: 2vmin;
  text-shadow: 2px 2px cornflowerblue;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:white;
  justify-self: center;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .Title {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  flex: 1;
  min-height: 20vh;
  max-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(px + 2vmin);
  margin-right: auto;
  margin-left: auto;
  object-fit: scale-down;
}
.Header-Holders{
  flex-basis: calc(100% / 4);
  flex-shrink: 0;
  max-height: 25vh;
  object-fit: contain;
}
.Sun-stuff{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.Sun-Text{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  max-width: 75%;
  flex: 0 0 50%;
  font-size: 2vh;
  color: coral;
  border-radius: 50% 50%;
  border: .3px solid cornsilk;
  box-shadow: 
          inset 0px 0px 3em 1px cornsilk,
                0px 0px 3em 1em  cornsilk;
              
  text-shadow: 1px 1px rgb(1, 14, 29);
}
.bored{
  padding-top: 25px;
}

.spin {
  color: #7c795d; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0; 
}
.lunarContainer .lunarStyle{
  display: flex;
  width: 23vw;
	height: 23vw;
  object-fit: contain;
  justify-content: center;
}
.lunarStyle img {

}

.sun{
  position: absolute;
  display: flex;
  content: url(https://i.ibb.co/2tPYzB3/580b585b2edbce24c47b270f.png);
  position: absolute;
  width: 90%;
  overflow: hidden;
  z-index: 1;
  

}
.sun:hover
{
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
      transform:rotate(360deg) scale(1.3);
  }
}









