.App {
  text-align: center;
  background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
body{
  padding: 0;
    margin: 0;
    
}

.AxlContainer{
  position: relative;
  height: 75vmin;
  display:flex;
  flex-direction: column-reverse;
}

.AxlPic {
  height: 100%;
  
}

.DuneQ-Container{
  height: 15%;
  width: inherit;
  display: flex;
  align-items: center;

}
.DuneQ {
  display: flex;
  position: absolute;
  font-size: calc(16px + 15%);
  padding-bottom: 2vmin;
  
}
.quote

@media (prefers-reduced-motion: no-preference) {
  .Title {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(px + 2vmin);
  margin-right: 15px;
  margin-left: 15px;
}
.Header-Holders{
  width: 33.33%;
}
.Sun-stuff{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: coral;
  font-size: calc(10px + 1vmin);
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sun{
	position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 20%;
	width: 300px;
	height: 300px;

  
 
}
#sun *, #sun *:before, #sun *:after{
	position: absolute;
}

/* code for the rings */
#rings{
	top: 50%;
	left: 50%;
	z-index: 1;
}
#rings div:before, #rings div:after{
	content: "";
	z-index: 2;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	background: inherit;
}
#rings div:before{
	transform: rotate(60deg);
}
#rings div:after{
	transform: rotate(-60deg);
}
#rings div:nth-child(even){
	animation: rotateR 12s infinite linear;
}
#rings div:nth-child(odd){
	animation: rotateL 12s infinite linear;
	transform: rotate(15deg);
}
#rings div:nth-child(1){
	animation-duration: 45s;
	background: rgba(255, 230, 84, 0.5);
	width: 150px;
	height: 150px;
	margin: -100px 0 0 -100px;
}
#rings div:nth-child(2){
	animation-duration: 49s;
	background: rgba(255, 185, 6, 0.5);
	width: 140px;
	height: 140px;
	margin: -95px 0 0 -95px;
}
#rings div:nth-child(3){
	animation-duration: 56s;
	background: rgba(255, 130, 5, 0.5);
	width: 130px;
	height: 130px;
	margin: -90px 0 0 -90px;
}
#ringsv idiv:nth-child(4){
	animation-duration: 93s;
	background: rgba(255, 90, 0, 0.5);
	width: 120px;
	height: 120px;
	margin: -85px 0 0 -85px;
}

/* animations */
@-webkit-keyframes rotateR{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotateR{
	from{
		-moz-transform: rotate(0deg);
	}
	to{
		-moz-transform: rotate(360deg);
	}
}
@-ms-keyframes rotateR{
	from{
		-ms-transform: rotate(0deg);
	}
	to{
		-ms-transform: rotate(360deg);
	}
}
@-o-keyframes rotateR{
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-o-transform: rotate(360deg);
	}
}
@keyframes rotateR{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotateL{
	from{
		-webkit-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes rotateL{
	from{
		-moz-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-ms-keyframes rotateL{
	from{
		-ms-transform: rotate(360deg);
	}
	to{
		-ms-transform: rotate(0deg);
	}
}
@-o-keyframes rotateL{
	from{
		-o-transform: rotate(360deg);
	}
	to{
		-o-transform: rotate(0deg)
	}
}
@keyframes rotateL{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}







